* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(to bottom, #fff 0%, rgb(61, 12, 197) 100%) center
    no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__inner {
  width: 25%;
  background-color: rgb(14, 9, 90);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(16, 36, 212);
  padding: 10px;
  .header {
    text-align: center;
    margin-bottom: 5px;
    color: rgb(72, 8, 175);
  }

  @media (max-width: 995px) {
    width: 30%;
  }
  @media (max-width: 850px) {
    width: 40%;
  }
  @media (max-width: 650px) {
    width: 50%;
  }
  @media (max-width: 550px) {
    width: 60%;
  }
  @media (max-width: 450px) {
    width: 70%;
  }
  @media (max-width: 350px) {
    width: 80%;
  }

  .input__field {
    width: 100%;

    .input {
      width: 100%;
      margin-bottom: 5px;
      background-color: rgb(162, 148, 201);
      border: 0;
      padding: 5px;
      outline: none;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }

  .button__field {
    display: flex;
    justify-content: space-between;

    button {
      width: calc(100% / 3);
      border: 1px solid rgb(162, 148, 201);
      background-color: rgb(70, 17, 168);
      transition: all 0.2s linear;
      color: #fff;
      &:hover {
        background-color: rgb(162, 148, 201);
        border: 1px solid rgb(70, 17, 168);
        color: rgb(70, 17, 168);
        transform: scale(1.1);
      }
    }
  }
  .list__field {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
      }

      .custom-checkbox {
        margin-right: 5px;
        display: block;
      }
      .delete {
        margin-right: 5px;
        color: #fff;
        display: block;
        transition: all 0.2s linear;

        &:hover {
          color: rgb(30, 29, 143);
        }
      }
      .label {
        display: block;
        color: rgb(125, 136, 167);
        font-size: 16px;
      }

      button {
        border: 1px solid rgb(162, 148, 201);
        background-color: rgb(70, 17, 168);
        transition: all 0.2s linear;
        color: #fff;
        &:hover {
          background-color: rgb(162, 148, 201);
          border: 1px solid rgb(70, 17, 168);
          color: rgb(70, 17, 168);
        }
      }
    }
  }
}

.totalDone {
  color: #fff;
  font-weight: bold;
}
